src/main/app/calculator-munit.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8086" doc:name="HTTP Listener Configuration"/>
    <flow name="addition">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-session-variable variableName="Operator" value="#[message.inboundProperties.'http.query.params'.operator]" doc:name="Session Variable"/>
        <set-session-variable variableName="Number1" value="#[message.inboundProperties.'http.query.params'.number1]" doc:name="Session Variable"/>
        <set-session-variable variableName="Number2" value="#[message.inboundProperties.'http.query.params'.number2]" doc:name="Session Variable"/>
        <choice doc:name="Choice">
            <when expression="#[sessionVars.Operator == 'addition']">
                <dw:transform-message doc:name="Addition">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
sessionVars.Number1 + sessionVars.Number2]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[sessionVars.Operator == 'substraction']">
                <dw:transform-message doc:name="substraction">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
sessionVars.Number1 - sessionVars.Number2]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[sessionVars.Operator == 'division']">
                <dw:transform-message doc:name="Division">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
sessionVars.Number1 / sessionVars.Number2]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <when expression="#[sessionVars.Operator == 'multiplication']">
                <dw:transform-message doc:name="multiplication">
                    <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
sessionVars.Number1 * sessionVars.Number2]]></dw:set-payload>
                </dw:transform-message>
            </when>
            <otherwise>
                <logger message="nothing" level="INFO" doc:name="Logger"/>
            </otherwise>
        </choice>
        <response>
            <byte-array-to-string-transformer doc:name="Byte Array to String"/>
        </response>
    </flow>
</mule>
